
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="Capture.PNG" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
    <style>
      {% block css %}
      {% endblock css %}
    </style>
  </head>
  <body>

<!--_________________________________Navigation Starts Here________________________________________-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Kaligandaki Suppliers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block home %}{% endblock home %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block about %}{% endblock about %}" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block contact %}{% endblock contact %}" href="/contact">Contact Us</a>
      </li>
      </li>
      <li class="nav-item {% block shop %}{% endblock shop %}" >
        <a class="nav-link" href="/shop">Shop</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
      <input class="form-control mr-sm-2" type="search" id="query", name="query" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </form>



    {% if user.is_authenticated %}
      <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome {{request.user.first_name}}
                    </a>
                    <div class="dropdown-menu mr-auto ml--2" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                    </li>
                </ul>
                <button  data-html="true"  id="popcart" type="button" class="btn btn-secondary mx-2" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                    sagittis lacus vel augue laoreet rutrum faucibus.">
                      Cart(<span id="cart">0</span>)
</button>
    {% else %}
    <!--_____________________________ Login Modal Button Triger__________________________________-->
      <button type="button" class="btn btn-primary ml-1" data-toggle="modal" data-target="#login">
      Login
    </button>

    <!--______________________________ Signup Modal Button Triger __________________________________-->
      <button type="button" class="btn btn-primary ml-1" data-toggle="modal" data-target="#signup">
      SignUp
    </button>
    {% endif %}
  </div>
</nav>

{% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0" role="alert">
    <strong>message: </strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
{% endfor %}
<!--_____________________________________Navigation End_____________________________________________-->


<!--_____________________________________ Login Modal_____________________________________________-->

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <!--__________________________________Login Modal Body__________________________________-->
          <form action="/login" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="loginemail">Email address</label>
              <input required type="email" class="form-control" name="loginemail" id="loginemail" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="loginpass">Password</label>
              <input required type="password" class="form-control" name="loginpass" id="loginpass">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        <!--__________________________________Login Modal Body__________________________________-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--_____________________________________ Login Modal end_____________________________________________-->


<!--_____________________________________SignUp Modal_____________________________________________-->

<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupLabel">Signup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--_______________________________________Signup Modal Body_______________________________________-->
        
        <form action="/signup" method="post">
        {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fname">First Name</label>
                <input required type="text" name="fname" class="form-control" id="fname" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <label for="lname">Last Name</label>
                <input required type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">
              </div>
            </div>
            <div class="form-group">
              <label for="signupemail">Email</label>
              <input required type="email" name="signupemail" name="signupemail" class="form-control" id="signupemail" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" name="pass1" class="form-control" id="pass1" placeholder="Create your password">
              <small id="passwordhelp" class="form-text text-muted">Password must contain 8 characters with at least one special character and one upper case letter</small>
            </div>
            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input required type="password" class="form-control" name="pass2" id="pass2" placeholder="Confirm Placeholder">
            </div>
            <div class="form-group">
              <label for="Phone">Phone</label>
              <input required type="text" class="form-control" name="phone" id="Phone" placeholder="98666666666">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input required type="text" class="form-control" name="address" id="address" placeholder="Pradesh 5, Butwal-Milanchowk">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="city">City</label>
                <input required type="text" class="form-control" name="city" placeholder="Butwal" id="city">
              </div>
              <div class="form-group col-md-6">
                <label for="state">State</label>
                <select name="state" id="state" class="form-control">
                  <option selected>Pradesh 1</option>
                  <option>Pradesh 2</option>
                  <option>Bagmati Pradesh</option>
                  <option>Gandaki Pradesh</option>
                  <option>Pradesh 5</option>
                  <option>Karnali Pradesh</option>
                  <option>Sudurpashchim Pradesh</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        
        <!--_______________________________________Signup Modal Body_______________________________________-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--_____________________________________SignUp Modal end_____________________________________________-->



<!--_____________________________________Body_____________________________________________-->
{% block body %}
{% endblock body %}
<!--_____________________________________Body End_____________________________________________-->





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>
  {% block js %}
  {% endblock js %}
  </body>
</html>